[class^="uiIconTask"], .btn.disabled:hover  [class^="uiIconTask"] {
  background-image: url('../img/uiIconTaskDarkGray.png');
}

.nav-pills > .active > a > [class^="uiIconTask"],
.nav-list > .active > a > [class^="uiIconTask"],
.navbar-inverse .nav > .active > a > [class^="uiIconTask"],
.btn:hover [class^="uiIconTask"], a:hover [class^="uiIconTask"],
.actionIcon.active [class^="uiIconTask"],.nodeSelected:hover [class^="uiIconTask"],
[class^="uiIconTask"]:hover, .uiActionBar [class^="uiIconTask"]:hover, .uiIconTaskBlue
 {
  background-image: url('../img/uiIconTaskBlue.png');
}

.uiIconTaskLightGray {
  background-image: url('../img/uiIconTaskLightGray.png');
}

.uiIconTaskWhite
 {
  background-image: url('../img/uiIconTaskWhite.png');
}

.uiIconTaskOpen {
  background-position: -20px 0px;
}
.uiIconTaskInProgress {
  background-position: 0px 0px;
}
.uiIconTaskApp {
  background-position: -40px 0px;
}

.uiTaskManager {
	background: none repeat scroll 0 0 white;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 20px;
}

.uiTaskManager .leftMenu{
	width: 220px;
}

.uiTaskManager .topMenu{
	background: none repeat scroll 0 0 #f0f0f0;
    border-bottom: 1px solid #ccc;
    border-radius: 4px 4px 0 0;
    margin: 0;
    padding: 8px 12px;
	line-height: 23px;
}

.uiTaskManager .leftMenu .uiIconAddIcon{
	cursor: pointer;
}


.uiTaskManager .leftMenu ul li{
	border-bottom: 1px solid #ccc;
}

.uiTaskManager .leftMenu .selected{
	background: #f8f8f8;
}

.uiTaskManager .leftMenu ul li a{
    color: #333;
    display: block;
    line-height: 40px;
    padding-left: 20px;
}

.uiTaskManager .leftMenu ul li .actionIcon{
    display: inline;
    padding-left: 4px;
}

.uiTaskManager .leftMenu ul li a:hover{
    color: #2f5e92;
}

.uiTaskManager .rightDetail{
	margin-left: 220px;
	border-left: 1px solid #ccc;
}

.uiTaskManager .rightDetail .topMenu{
	height: 23px;
}

.uiTaskManager .rightDetail .topMenu .btn{
	margin-top: -2px;
}

.uiTaskManager .rightDetail .contentListTask{
	padding: 20px;
}